.App {
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-header {
  background-color: #222;
  height: 40px;
  padding: 10px;
  color: white;
}

.App-header-clock {
  text-align: center;
  position: absolute;
  right: 40px;
  color: white;
}

.App-header-nav {

}

.App-header-content-spacer {
  height: 1px;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.App-content {
  position: relative;
  width: 50%;
  height: 50%;

  background: rgba(0, 255, 255, 0.5);
}

.App-content-inner {
  position: absolute;

  background: rgba(255, 255, 0, 0.5);
}

.Main-app {
  
}




@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
