.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 60px;
  padding: 10px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-header-time {
  text-align: bottom;
  position: absolute;
  right: 40px;
  color: white;
}

.App-content {
  position: relative;
  width: 50%;
  height: 50%;

  background: rgba(0, 255, 255, 0.5);
}

.App-content-inner {
  position: absolute;
  top: 25%;
  left: 25%;
  transform: translate(-25%, -25%);

   background: rgba(255, 255, 0, 0.5);
}

.Main-app {
  
}




@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
